@model Prueba_BanReservas.Models.Persona

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    #calendar:hover {
        cursor: pointer;
    }

    label {
        display: inline-block;
        width: 2em;
    }
</style>
<div class="row mt-4 mb-4 d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body d-flex justify-content-center">
                <form action="~/Persona/Agregar" method="post" id="myForm">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
                        <input type="text" name="Nombre" value="" title="Ingrese Nombre" required class="form-control" id="nombre" placeholder="Nombre" />
                    </div>

                    <div class="input-group mt-4" data-provide="datepicker">
                        <span class="input-group-addon" id="calendar"><i class="glyphicon glyphicon-calendar"></i> </span>
                        @Html.EditorFor(model => model.FechaDeNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                        <!--<input type="text" name="FechaDeNacimiento" value="" autocomplete="off" title="Ingrese Fecha de Nacimiento" required class="form-control" id="datepicker" placeholder="Fecha de Nacimiento" />-->
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit" id="btnSub"><span class="glyphicon glyphicon-save"></span> Registrar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/sweetalert.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    $(document).ready(function () {


        $(function () {
            $(document).tooltip();
        });

        $("#datepicker").datepicker();
        $("#datepicker").datepicker("option", "showAnim", "slide");
        $("#datepicker").datepicker("option", "dateFormat", "dd/MM/yy");



        $(function (e) {
            $("#nombre").keypress(function (e) {
                key = e.keyCode || e.which;
                teclado = String.fromCharCode(key);
                letras = " aAbBcCdDeEfFgGhHiIjJkKlLmMnNñÑoOpPqQrRsStTuUvVuUwWxXyYzZ";
                especiales = "8-37-38-46";
                teclado_especiales = false;

                for (var i in especiales) {
                    if (key == especiales[1]) {
                        teclado_especiales = true;
                        break;
                    }
                }

                if (letras.indexOf(teclado) == -1 && !teclado_especiales) {
                    return false;
                }
            });
        });


        $(function (e) {
            $("#datepicker").keypress(function (e) {
                key = e.keyCode || e.which;
                teclado = String.fromCharCode(key);
                letras = "1234567890/";
                especiales = "8-37-38-46";
                teclado_especiales = false;

                for (var i in especiales) {
                    if (key == especiales[1]) {
                        teclado_especiales = true;
                        break;
                    }
                }

                if (letras.indexOf(teclado) == -1 && !teclado_especiales) {
                    return false;
                }
            });
        });

        $("#btnSub").on('click', function () {

            var feha1 = Date.parse($("#datepicker").val());
            var fecha2 = Date.now();


            if (feha1 > fecha2) {
                swal("Resgistro", "No puede ingresar una fecha mayor a la actual", "error");

                $("#datepicker").val('');

            }

        });
    });
</script>
